.header {
  height: 56px;
  margin-bottom: 120px;
  background-color: var(--mantine-color-body);
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
  color: var(--mantine-color-gray-6);
  padding: 7px var(--mantine-spacing-sm);
  transition: color 300ms ease;

  &:hover,
  &.active {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  .linkInner {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -0.375em;
      bottom: -8px;
      height: 4px;
      width: 0;
      background-color: var(--color-primary);
      transition: width 300ms ease-in-out;
    }
  }

  &:hover .linkInner::after,
  &.active .linkInner::after {
    width: calc(100% + 0.75em);
  }
}

.button {
  width: 6.5em;
}
