.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1em;

  .item-image {
    position: relative;

    .small {
      max-height: 250px;
    }

    .large {
      max-height: 380px;
    }

    .image {
      max-height: 500px;
      align-items: stretch;
    }
  }

  .item-text {
    flex-direction: column;
    justify-content: start;
    padding: 1em;

    .widget {
      margin-bottom: 0.625em;
      list-style: none;
      display: flex;
      gap: 1em;

      .property {
        color: var(--color-text);
      }
    }

    .title {
      margin-bottom: 0.3125em;

      a {
        font-family: var(--fm-unna);
        text-decoration: none;
        color: var(--color-heading);
        line-height: 1.2;
        letter-spacing: 0.5px;
        font-size: 1.375rem;
      }
    }

    .description {
      color: var(--color-text);
      text-align: start;
      margin: 2em 0;
    }
  }
}

.horizontal {
  flex-direction: row;
  max-width: 780px;

  .item-image {
    width: 360px;
    height: 250px;

    .image {
      width: 100%;
      height: 100%;
    }
  }

  .item-text {
    align-items: flex-start;
    flex: 2;
  }

  .item-text .description {
    text-align: left;
  }
}
