.container {
  margin-top: 2em;
  margin-bottom: 2em;

  .title {
    display: inline-block;
    border-bottom: 3px solid var(--color-primary);
    margin-top: 1.5em;
    margin-bottom: 1em;
    width: 5%;
    white-space: nowrap;
  }
}
