.root {
  margin-bottom: 4em;

  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.controls {
  transition: opacity 500ms ease;
  opacity: 0;

  &[data-inactive] {
    opacity: 1;
    cursor: default;
  }

  .control {
    --carousel-control-size: calc(3rem * var(--mantine-scale));
    background: var(--background-color-hero);
    color: white;
    border: none;
    border-radius: 0;
    size: 4em;
    z-index: 202;
  }
}
