.widget {
  margin-bottom: 0.625em;
  list-style: none;
  display: flex;
  gap: 1em;

  .property {
    color: var(--color-text);
  }
}

.options {
  background: var(--background-color-gray);

  .button {
    border-color: var(--color-primary);
    color: var(--color-heading);
    margin-left: 5em;
  }
}
