:root {
  --color-primary: #f4952f;
  --color-secondary: #120851;
  --color-heading: #111111;
  --color-text: #444444;
  --color-black: #000000;
  --color-white: #ffffff;

  --background-color-hero: rgba(0, 0, 0, 0.3);
  --background-color-gray: #f2f2f2;

  --fm-nunito: "Nunito Sans", sans-serif;
}
