.item-image {
  position: relative;
  margin-bottom: 1.5em;
  height: 500px;

  .small {
    height: 250px;
  }

  .large {
    height: 380px;
  }

  .meta {
    background: var(--color-white);
    position: absolute;
    left: 1.25em;
    top: 1.25em;
    height: 4rem;
    width: 4rem;

    .day {
      font-family: var(--fm-nunito);
      color: var(--heading-color);
    }
  }
}

.item-text {
  text-align: center;

  .label {
    color: var(--color-primary);
    margin-bottom: 0.625em;
  }

  .title {
    margin-bottom: 0.3125em;

    a {
      color: var(--color-heading);
      line-height: 1.8;
      font-size: 1.375rem;
      display: block;
    }
  }

  .widget {
    margin-bottom: 0.625em;
    list-style: none;

    .property {
      position: relative;
      display: inline-block;
      margin-right: 1.5em;
      font-size: 0.75rem;
      color: var(--color-text);

      .user {
        color: var(--color-heading);
      }

      :after {
        position: absolute;
        right: -1em;
        top: -1px;
        content: "|";
        color: var(--color-text);
      }

      :last-child {
        margin-right: 0;

        :after {
          display: none;
        }
      }
    }
  }

  .description {
    margin-bottom: 1.5em;
  }
}
